@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/slkscr.woff') format('woff');
}


@media (min-width: 960px) {
  .container {
    max-width: 960px !important;
  }
}

@media (max-width: 959px) {
    .container {
        max-width: none !important;

    }
}


@media only screen and (max-width: 900px) {
	#unseen table td:nth-child(5),
    #unseen table td:nth-child(5),
    #unseen table td:nth-child(6), 
	#unseen table th:nth-child(6) {display: none;}
}
 
.navbar-cs-sitename {
    font-family: 'Silkscreen';
    font-size: 24px;
}

.navbar-cs {
    background-color: #444444;
    padding: .3rem 1rem .3rem 1rem;
}

.navbar-cs-search {
    font-size: .875rem;
    padding: .25rem .5rem;
}

.navbar-cs-toggle {
    padding: .25rem .75rem;
    font-size: 1.4rem;
}

.loggined {
    font-weight: bold;
}

#board_list_container {
    overflow-x: auto;
}



/* Login Section */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Register Section */

.form-register h2 {
    padding-bottom: 10px;
}

.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-signin-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}



/* View Post */

.viewpost-header {

}


.viewpost-subject {
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

.viewpost-info {
    font-size: 14px;
}

.viewpost-content {
    margin-top: 40px;
    font-size: 16px;
    margin-bottom: 40px;
}

.viewpost-content img {
    max-width: 100%;
}

.viewpost-commentBox {
    margin-top: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
}

.viewpost-mani {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment-info {
    font-size: 14px;
    color: #aaaaaa;
}

.comment-content {
    font-size: 16px;
}

.comment-wrapper {
    padding: 6px 0px 6px 0px;
}

#commentList {
    margin-bottom: 10px;
}

#commentPagination {
    margin-top: 20px;
}